$color-1-0: #fff
$color-1-1: #071d68
$color-1-2: #0b4bec
$color-1-3: #bebebe
$color-1-4: #f3f2f2
$color-1-5: #808080
$color-1-6: #333

$white-col: $color-1-0

$main-col: $color-1-2
$sec-col: $color-1-1

$grad-from: $sec-col
$grad-to: $main-col
$shadow-col: $color-1-3
$secbg-col: $color-1-4

$main-font-bold: "PoppinsSemiBold", serif
$main-font: "PoppinsRegular", serif
$second-font: "Nunito", serif
$third-font: "RalewayRegular", serif

$primtext-col: $color-1-6
$sectext-col: $color-1-5