.button
  display: inline-block
  padding: 10px 50px
  border: none
  font-family: $main-font-bold
  text-transform: uppercase
  transition: all .2s ease
  &:hover
    text-decoration: none
  &.-white
    font-size: 14px
    border-radius: 22px
    background-color: darken($white-col, 5%)
    color: $main-col
    &:hover
        background-color: darken($white-col, 5%)
        box-shadow: 0 0 20px 2px $shadow-col
        text-decoration: none
  &.-blue
    border-radius: 22px
    color: darken($white-col, 5%)
    background-color: $main-col
    &:hover
      background-color: $white-col
      box-shadow: 0 0 20px 2px $shadow-col
      color: darken($main-col, 12%)