.logo
    text-align: center
    line-height: 7rem
    > .img
        height: 100%
        width: 40px
        display: inline-block
    > .text
        color: $white-color
        line-height: 2rem
        h5
            letter-spacing: 2px
            text-transform: uppercase
            text-shadow: 0 3px 3px $shadow-color
        p
            font-family: $second-fontfamily
            font-size: 12px
            letter-spacing: 2px